<div class="container mt-2">
  <!-- Qui sezione aside sinistra -->
  <!-- qui sezione feed notizie -->
  <div class="row">
    <div
      *ngFor="let post of posts; let i = index"
      class="d-flex flex-column col-8"
    >
      <!-- creazione dinamica card post -->
      <div *ngIf="posts" class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">
            {{ post.user.name }} {{ post.user.surname }} 1°
          </h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ post.user.bio }}
          </h6>
          <p class="card-text">{{ post.text }}</p>
          <p class="card-text">{{ post.createdAt | date : "longDate" }}</p>
          <hr />
          <p class="d-inline-flex gap-1">
            <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapseExample' + i"
              aria-expanded="false"
              aria-controls="collapseExample"
              (click)="getCommenti(post._id)"
            >
              Commenti
            </button>
          </p>
          <div class="collapse" id="collapseExample{{ i }}">
            <div *ngFor="let commento of comments" class="card card-body">
              <p><span class="fw-bold">{{commento.author}}</span></p>
              {{ commento.comment }}
              <button
                *ngIf="commento.author === infoUser.email || infoUser.username"
                (click)="deleteComment(commento._id)"
                class="btn btn-danger"
                type="button"
              >
                Rimuovi
              </button>
            </div>
            <!-- Questo ngmodel sotto è per l'input, senza funziona,con spacca tutto -->

            <input
              [(ngModel)]="newComment.comment"
              placeholder="Scrivi un commento"
              type="text"
              class="my-2"
            />

            <button
              (click)="addComment(post._id, newComment)"
              class="btn btn-primary"
              type="button"
            >
              Pubblica
            </button>
          </div>

          <!-- qui sezione aside destra -->
        </div>
      </div>
    </div>
  </div>
</div>
