<div *ngIf="infoUser" class="container">
  <div class="row">
    <div class="d-flex flex-column col-8">
      <img
        src="{{ infoUser.image }}"
        class="card-img-top w-25 rounded-circle p-2 bg-danger"
        alt="..."
      />
      <div class="card-body d-flex flex-column align-items-baseline">
        <h3 class="card-title mx-3 mt-3">
          {{ infoUser.name + " " + infoUser.surname }}
        </h3>
        <p class="card-text">
          {{ infoUser.title }}
        </p>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ infoUser.area }}</li>

        <li class="list-group-item">{{ infoUser.bio }}</li>

        <li class="list-group-item">{{ infoUser.username }}</li>
      </ul>
      <div class="card-body">
        <a
          href="#"
          class="card-button card-link btn btn-primary fw-bold btn-lg rounded-pill me-1"
          >Disponibile per:</a
        >
        <a
          href="#"
          class="card-button card-link btn btn-outline-primary rounded-pill fw-bold btn-lg me-1"
          >Aggiungi sezione del profilo</a
        >
        <a
          href="#"
          class="card-button card-link btn btn-outline-secondary fw-bold btn-lg rounded-pill"
          >Altro</a
        >
      </div>

      <div
        class="card-body d-flex justify-content-between align-items-baseline"
      >
        <h3 class="card-title mx-3 mt-3">Esperienza</h3>
        <svg
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-plus-square"
          viewBox="0 0 16 16"
        >
          <path
            d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
          />
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
          />
        </svg>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">
                Aggiungi esperienza
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="role" class="form-label">Role</label>
                  <input
                    class="form-control"
                    id="exampleInputRole"
                    name="role"
                    [(ngModel)]="formData.role"
                  />
                </div>
                <div class="mb-3">
                  <label for="inputCompany" class="form-label">Company</label>
                  <input
                    class="form-control"
                    id="inputCompany"
                    name="inputCompany"
                    [(ngModel)]="formData.company"
                  />
                </div>
                <div class="mb-3">
                  <label for="startDate" class="form-label">Start Date</label>
                  <input
                    type="date"
                    class="form-control"
                    id="startDate"
                    name="startDate"
                    [(ngModel)]="formData.startDate"
                  />
                </div>
                <div class="mb-3">
                  <label for="endDate" class="form-label">End Date</label>
                  <input
                    type="date"
                    class="form-control"
                    id="endDate"
                    name="endDate"
                    [(ngModel)]="formData.endDate"
                  />
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label"
                    >Description</label
                  >
                  <textarea
                    class="form-control"
                    id="description"
                    name="description"
                    [(ngModel)]="formData.description"
                  >
                  </textarea>
                </div>
                <div class="mb-3">
                  <label for="area" class="form-label">Area</label>
                  <input
                    class="form-control"
                    id="area"
                    name="area"
                    [(ngModel)]="formData.area"
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ infoUser.area }}</li>

        <li class="list-group-item">{{ infoUser.bio }}</li>

        <li class="list-group-item">{{ infoUser.username }}</li>
      </ul>
    </div>
  </div>
</div>
