<div *ngIf="infoUser" class="container">
  <div class="row">
    <div class="d-flex flex-column col-8">
      <!--Img profilo-->
      <div class="border border-2 rounded-3 mb-2 p-4">
        <img
          src="{{ infoUser.image }}"
          class="card-img-top w-25 rounded-circle p-2 bg-dark"
          alt="..."
        />
        <!--Dati profilo-->
        <div class="card-body d-flex flex-column align-items-baseline">
          <h3 class="card-title mx-3 mt-3">
            {{ infoUser.name + " " + infoUser.surname }}
          </h3>
          <p class="card-text">
            {{ infoUser.title }}
          </p>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item border border-0">{{ infoUser.area }}</li>

          <li class="list-group-item border border-0">{{ infoUser.bio }}</li>

          <li class="list-group-item border border-0">
            {{ infoUser.username }}
          </li>
        </ul>
        <!--Bottoni-->
        <div class="card-body">
          <a
            href="#"
            class="card-button card-link btn btn-primary fw-bold btn-lg rounded-pill me-1"
            >Disponibile per:</a
          >
          <a
            href="#"
            class="card-button card-link btn btn-outline-primary rounded-pill fw-bold btn-lg me-1"
            >Aggiungi sezione del profilo</a
          >
          <a
            href="#"
            class="card-button card-link btn btn-outline-secondary fw-bold btn-lg rounded-pill"
            >Altro</a
          >
        </div>
      </div>
      <app-analisi></app-analisi>
      <div
        class="card-body d-flex justify-content-between align-items-baseline"
      >
      <h3 class="card-title mx-3 mt-3">Esperienza</h3>
      <!--Icon-->
      <svg
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-plus-square"
        viewBox="0 0 16 16"
      >
        <path
          d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
        />
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
        />
      </svg>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">
              Aggiungi esperienza
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <input
                  class="form-control"
                  id="exampleInputRole"
                  name="role"
                  [(ngModel)]="formData.role"
                />
              </div>
              <div class="mb-3">
                <label for="inputCompany" class="form-label">Company</label>
                <input
                  class="form-control"
                  id="inputCompany"
                  name="inputCompany"
                  [(ngModel)]="formData.company"
                />
              </div>
              <div class="mb-3">
                <label for="startDate" class="form-label">Start Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="startDate"
                  name="startDate"
                  [(ngModel)]="formData.startDate"
                />
              </div>
              <div class="mb-3">
                <label for="endDate" class="form-label">End Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="endDate"
                  name="endDate"
                  [(ngModel)]="formData.endDate"
                />
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                  class="form-control"
                  id="description"
                  name="description"
                  [(ngModel)]="formData.description"
                >
                </textarea>
              </div>
              <div class="mb-3">
                <label for="area" class="form-label">Area</label>
                <input
                  class="form-control"
                  id="area"
                  name="area"
                  [(ngModel)]="formData.area"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              (click)="save()"
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              {{ saveModify }}
            </button>
          </div>
        </div>

      </div>
    </div>
    <ul
    *ngFor="let experience of arrayEsperienze; let index = index"
    class="list-group list-group-flush border-bottom border-black"
  >
    <li class="list-group-item d-flex justify-content-between">
      <div><span class="fw-bold"> Role:</span> {{ experience.role }}</div>
      <svg
        (click)="textModify(index)"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-pencil"
        viewBox="0 0 16 16"
      >
        <path
          d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
        />
      </svg>
    </li>

    <li class="list-group-item">
      <span class="fw-bold">Company:</span> {{ experience.company }}
    </li>

    <li class="list-group-item">
      <span class="fw-bold">Description:</span>
      {{ experience.description }}
    </li>
    <li class="list-group-item">
      <span class="fw-bold">Start:</span> {{ experience.startDate }}
    </li>
    <li class="list-group-item">
      <span class="fw-bold">End:</span> {{ experience.endDate }}
    </li>
  </ul>
  </div>
</div>
