<div class="card" style="width: 50rem">
  <p>Analisi</p>
  <div>
    <ul class="list-group list-group-horizontal list-group-flush">
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-people-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"
          />
        </svg>
      </li>

      <li class="list-group-item fw-bold border border-0">
        1000mila visualizzazioni del profilo
      </li>

      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-bar-chart-line-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"
          />
        </svg>
      </li>
      <li class="list-group-item border border-0">971 impressioni del post</li>
      .
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </li>
      <li class="list-group-item">30 comparse nei motori di ricerca</li>
    </ul>
  </div>
  <div>
    <ul class="list-group list-group-horizontal list-group-flush m-4 p-2 mt-0">
      <li class="me-2">Scopri chi ha visitato il tuo profilo.</li>
      <li class="me-2">Scopri chi sta interagendo con i tuoi post.</li>
      <li class="me-2">Vedi quante volte compari nei risultati di ricerca.</li>
    </ul>
  </div>

  <div class="card-footer">Card footer</div>
</div>
