<div class="container">
  <div class="row row-cols-2">
<div *ngIf="infoUser" class="card col-8">
  <div class="card-body">
    <h5 class="card-title">
      {{ infoUser.name + " " + infoUser.surname }}
    </h5>
    <p class="card-text">
      {{ infoUser.title }}
    </p>
  </div>
  <img src="{{ infoUser.image }}" class="card-img-top" alt="profile" />

  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
</div>
